Assumptions in Multilinear Regression
1. Linearity: The relationship between the predicators and the response is linear.
2. Independence: Observations are independent of each other.
3. Homoscedasticity: The residuals (Y - Y_hat)) exhibits constant variance at all levels of the predictors.
4. Normal Distribution of

In [13]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [18]:
carss = pd.DataFrame(cars, columns=["Hp","VOl","WT","MPG"])
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [15]:
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

Description of colomns
- MPG: Milege of the car(Mile per Gallon) (This is Y-column to be predicated)
- HP: Horse Power of the car(X1 column)
- VOL: Volume of the car(size) (X2 column)
- SP: Top speed of the car (Miles per Hour)(x3 column)
- WT: Weight of the car(Pounds)(X4 Column)

In [21]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   MPG     81 non-null     float64
 2   VOL     81 non-null     int64
 3   SP      81 non-null     float64
 4   WT      81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [ ]:
### Observations
- There are no missinf valuse
- There are 81 observa